**/.git
**/.vs
**/.vscode
**/.env
**/.env.*
**/*.*proj.user
**/bin
**/obj
**/node_modules
**/dist
**/Logs
**/BuildArtifacts
**/*.bacpac
**/*.bak
**/*.mdf
**/*.ldf
**/*.pem
**/*.key
**/*.pfx
**/npm-debug.log
